<%- include ('templates/header'); -%>
    <nav class = "nava">
        <center>
            <hr width="50%" />
            <a href = "/profile"><u>PROFILE</u></a>
            <a href = "/travel">TRAVEL</a>
            <a href = "/locations">LOCATIONS</a>
           
        </center>
    </nav>
    <main>
        <center>
            <h2><%=profile.name%></h2>
            
            <form action="/profile/<%=profile.id%>/checkdelete" method="POST" class="border">
                <div class="imgcontainer">
                    <img src="/img/img_avatar.png" alt="Avatar" class="avatar"style="width:200px;height:200px;">
                </div>
                
                <div class="container">
                    <label for="uname"><b>Username: <%=profile.username%></b></label><br>
                    <label for="ename"><b>Email: <%=profile.email%></b></label><br>
                    <label for="age"><b>Age: <%=profile.age%></b></label><br>
                    <a class='btn btn-danger' href='/logout'>Logout</a>
                    <hr><br><br>
                    
                    
                    <h3><b>DELETE YOUR ACCOUNT?</b></h3><br>
                    
                    <%if(typeof error != 'undefined' && error){%>
                        <h6 style='color: red;'> Incorrect password! </h6>
                	<%}%>
                    
                    <label for="psw" id="pswlab"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                    
                    <% if (profile.username == "admin") {%>
                        <button type="delete" class="btn btn-secondary" disabled>Delete Account</button>
                    <%} else {%>
                        <button type="delete" class="btn btn-danger">Delete Account</button>
                    <%}%>
                </div>
            </form>
        </center>
    </main>
    <br/>

<%- include ('templates/footer'); -%>
